h1 {
  color: white;
}

#Sonia {
  margin-top: 30px;
  margin-left: 140px;
  border-radius: 12px;
}

#explain-sonia {
  width:30%;
  margin-left: 30px;
}


.second-img {
  position: absolute;
  right: 120px;
  top: 200px;
  width: 300px;
  padding: 10px;
  margin-top: 0px;
}
#explain-nw {
  width:200%;
}