h1 {
  color: white;
}

#Sonia {
  margin-top: 50px;
  margin-left: 240px;
  border-radius: 12px;
}

#explain-sonia {
  width:33%;
  margin-left: 130px;
  background-color: #C38D9E;
  padding:10px;
  border-radius: 12px;
}


.second-img {
  position: absolute;
  right: 520px;
  top: 200px;
  width: 300px;
  padding: 10px;
  margin-top: 0px;
  margin-left: 240px;
}
#explain-nw {
  width:200%;
  background-color: #C38D9E;
  padding:10px;
  border-radius: 12px;
}

#nelson-whitney  {
  margin-left: 100px;
  border-radius: 12px;
}

h2 {
  margin-top: 100px;
}

.all-resources {
  display: flex;
  justify-content: space-around;
}

.aclu {
  width:90px;
}